<f:layout name="Default" />

<f:section name="Title">List of all deployments</f:section>

<f:section name="Content">
	<f:if condition="{presets}">
		<f:then>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Key</th>
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<f:for each="{presets}" key="key" as="configuration">
						<tr>
							<td>
								<f:link.action action="index" arguments="{key: key}">
									{key}
								</f:link.action>
							</td>
							<td>
								<f:form action="index">
									<f:form.hidden name="__method" value="DELETE" />
									<f:form.hidden property="key" value="{key}" />
									<f:form.submit value="Delete" class="btn btn-danger btn-xs" />
								</f:form>
							</td>
						</tr>
					</f:for>
				</tbody>
			</table>
		</f:then>
		<f:else>
			<p>No presets created yet.</p>
		</f:else>
	</f:if>

	<f:render partial="Preset/Create" arguments="{_all}" />

</f:section>
