<f:layout name="Default" />

<f:section name="Title">List of all deployments</f:section>

<f:section name="Content">
	<f:render partial="Deployment/List" arguments="{_all}" />
	<f:render partial="Deployment/Create" arguments="{_all}" />
	<div class="row">
		<div class="col-md-3">
			<f:render partial="GitRepositoryDeployment/Create" arguments="{gitRepositoryDeployment: gitRepositoryDeployment}" />
		</div>
		<div class="col-md-3">
			<f:render partial="SyncDeployment/Create" arguments="{syncDeployment: syncDeployment}" />
		</div>
		<div class="col-md-3">
			<f:render partial="CopyDeployment/Create" arguments="{copyDeployment: copyDeployment}" />
		</div>
		<div class="col-md-3">
			<f:render partial="InitSyncDeployment/Create" arguments="{initSyncDeployment: initSyncDeployment}" />
		</div>
	</div>
</f:section>

