<div class="surfcaptain deploy">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h1><span class="glyphicon glyphicon-road"></span>
					<span class="project-name">{{name | uppercase}}</span></h1>
			</div>
		</div>
	</div>
</div>
<div class="container project-buttons">
	<div class="row">
		<div class="col-xs-6 col-md-3 col-md-offset-2 text-right">
			<a href="#/" class="btn btn-lg btn-primary">
				All Projects
				<span class="glyphicon glyphicon-screenshot"></span>
			</a>
		</div>
		<div class="col-xs-6 col-md-3 col-md-offset-2 text-left">
			<a href="#/project/{{name}}" class="btn btn-lg btn-primary">
				History
				<span class="glyphicon glyphicon-time"></span>
			</a>
		</div>
	</div>
</div>
<div class="container project-deploy dark">
	<div class="row">
		<div class="col-xs-12 text-center">
			<h2>Deploy a Tag from Git</h2>
			<em>If you don't have a tag, go back and ask your favored developer to tag the master.</em>
		</div>
	</div>
</div>