<div class="surfcaptain server">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h1><span class="glyphicon glyphicon-hdd"></span>
					<span class="project-name">{{name | uppercase}}</span></h1>
			</div>
		</div>
	</div>
</div>
<div class="container project-buttons">
	<div class="row">
		<div class="col-md-4 text-right">
			<a href="#/" class="btn btn-lg btn-primary">
				All Projects
				<span class="glyphicon glyphicon-screenshot"></span>
			</a>
		</div>
		<div class="col-md-4 col-md-offset-1 text-right">
			<a href="#/project/{{name}}" class="btn btn-lg btn-primary">
				History
				<span class="glyphicon glyphicon-time"></span>
			</a>
			<a href="#/project/{{name}}/server" class="btn btn-lg btn-success">
				Server
				<span class="glyphicon glyphicon-hdd"></span>
			</a>
			<a href="#/project/{{name}}/deploy" class="btn btn-lg btn-danger">
				Deploy
				<span class="glyphicon glyphicon-road"></span>
			</a>
		</div>
	</div>
</div>
<div class="container project-server dark">
	<div class="row">
		<div class="col-xs-12 text-center">
			<h2>Manage server for project {{name | uppercase}}</h2>

			<div class="row text-center" ng-repeat="collection in servers">
				<div class="server">
					<div class="single-server">
						<div class="server-icon">
							<span class="glyphicon glyphicon-hdd"></span>
						</div>
						<div class="server-data" ng-repeat="server in collection.servers | limitTo:1">
							<h3><strong>{{server.key}}</strong> <span class="context">({{server.context}})</span></h3>
							User: {{server.username}}<br />
							Host: {{server.host}}
						</div>
						<div class="server-edit">
							<button class="btn btn-primary edit" tooltip data-placement="left" title="Edit">
								<span class="glyphicon glyphicon-edit"></span>
							</button>
							<button class="btn btn-danger remove" tooltip data-placement="left" title="Delete">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>