<div class="surfcaptain sync">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h1><span class="glyphicon glyphicon-refresh"></span>
					<span class="project-name">{{name | uppercase}}</span></h1>
			</div>
		</div>
	</div>
</div>
<div class="container project-buttons">
	<div class="row">
		<div class="col-md-4 text-right">
			<a href="#/" class="btn btn-lg btn-primary">
				All Projects
				<span class="glyphicon glyphicon-screenshot"></span>
			</a>
		</div>
		<div class="col-md-4 col-md-offset-1 text-right">
			<a href="#/project/{{name}}" class="btn btn-lg btn-primary">
				History
				<span class="glyphicon glyphicon-time"></span>
			</a>
			<a href="#/project/{{name}}/server" class="btn btn-lg btn-success">
				Server
				<span class="glyphicon glyphicon-hdd"></span>
			</a>
			<a href="#/project/{{name}}/deploy" class="btn btn-lg btn-danger">
				Deploy
				<span class="glyphicon glyphicon-road"></span>
			</a>
		</div>
	</div>
</div>
<div class="container project-sync dark">
	<div class="row">
		<div class="col-xs-12 text-center">
			<h2>Synchronize shared folders and database</h2>
		</div>
	</div>
</div>