<surfcaptain-header icon="bullhorn"></surfcaptain-header>

<div class="container about-view dark inner-container">
	<div class="row">
		<div class="col-xs-12 text-center">
			<h1>SurfCaptain (v<span app-version></span>)</h1>
			<i>your friend and helper.</i><br />
			<br />
			<i class="fa fa-bitbucket"></i><a href="https://bitbucket.org/lightwerk/surfcaptaindistribution" target="_blank">Project on Bitbucket.</a>
			<br /><br />
			<h3>Features</h3>
			<div class="col-xs-9 col-xs-offset-3 text-left">
				<ul>
					<li>Deploy any TYPO3 project from your git to a destination.</li>
					<li>Sync your development system with the production database and files. </li>
					<li>Get every project member a copy of the project in no time.</li>
					<li>Put the customers server configurations under version control.</li>
					<li>See which commit is currently live on which server.</li>
					<li>Keep a deployment history.</li>
				</ul>
			</div>
			<br /><br />
		</div>

		<div class="col-xs-12 text-center">
			<h3>Developer</h3>
			<div class="col-xs-9 col-xs-offset-3 text-left">
				<ul>
					<li>Lars Malach</li>
					<li>Daniel Goerz</li>
					<li>Achim Fritz</li>
				</ul>
				<br /><br />
			</div>
		</div>

	</div>

	<div class="row techs">
		<div class="col-xs-12 text-center">
			<h3>Technologies</h3>
		</div>
		<div class="col-xs-4" data-ng-repeat="tech in techs">
			<a href="{{tech.url}}" target="_blank">
				<div class="logo {{tech.name}}">
					<div class="description">
						<h3>{{tech.description.headline}}</h3>
						<br /><br />
						<span>{{tech.description.span1}} <br />{{tech.description.span2}}</span>
					</div>
				</div>
			</a>
		</div>
	</div>
	<div class="row techs">
		<div class="col-md-offset-2 col-md-8">
			<div class="col-md-3 text-center" data-ng-repeat="tech in subtechs">
				<a href="{{tech.url}}" target="_blank">
					<div class="sub-tech {{tech.name}}">
						<div class="description">
							<h4>{{tech.description.headline}}</h4>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>