<flash-messages messages="messages" />

<overlay finished="finished" />
<div data-ng-if="!finished" class="spinner">
	<spinner />
</div>

<surfcaptain-header icon="road"></surfcaptain-header>

<div class="container deployments-view dark">
	<div class="row">
		<div class="col-xs-12 text-center">
			<h1>Deployments</h1>

			<table class="table table-striped">
				<thead>
					<tr>
						<th>ID</th>
						<th>RepositoryURL</th>
						<th>Reference Name</th>
						<th>Status</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="deployment in deployments">
						<td><a data-ng-href="#/deployments/{{deployment.__identity}}">{{deployment.__identity | limitTo:20}}</a></td>
						<td>{{deployment.repositoryUrl}}</td>
						<td>{{deployment.referenceName}}</td>
						<td>{{deployment.status}}</td>
						<td><button data-ng-if="deployment.status === 'waiting'" class="btn btn-danger btn-xs">
							cancel
						</button></td>
					</tr>
				</tbody>
			</table>


		</div>
	</div>
</div>