<flash-messages messages="messages" />

<overlay finished="finished" />
<div data-ng-if="!finished" class="spinner">
	<spinner />
</div>

<surfcaptain-header icon="road"></surfcaptain-header>

<surfcaptain-menu></surfcaptain-menu>

<div class="container project-deploy dark inner-container">
	<div class="row">
		<div class="col-xs-12 text-center">
			<h2>Deploy a tag (or branch) from Git</h2>
			<em>If you don't have a tag, go back and ask your favored developer to tag the master.</em>
		</div>
	</div>
	<div class="row configure-deployment-row">
		<div class="col-xs-12">
			<!-- ################
				#### STEP 1 #####
				################# -->
				<div class="col-md-2 col-xs-12 text-center">
					<h2>Step 1</h2>
				</div>
				<div class="col-md-9 col-xs-12">
					<h3>Choose a Server</h3>

					<ul class="nav nav-tabs" role="tablist">
						<li class="active"><a tab href="#project" role="tab" data-toggle="tab">Project Server</a></li>
						<li><a tab href="#global" role="tab" data-toggle="tab">Global Server</a></li>
					</ul>

					<div class="tab-content">
						<div class="tab-pane active" id="project">
							<div
									class="deployment-server {{server.applications.0.options.context}}"
									data-ng-repeat="server in servers"
									data-ng-class="{false:'disabled'}[presetDisplay(server)]"
									data-ng-click="setCurrentPreset(server)"
									>
								<div class="title">
									<i class="fa fa-hdd-o"></i>{{server.applications.0.nodes.0.name}}
								</div>
								<div class="context-container">
									<span class="context">({{server.applications.0.options.context}})</span>
								</div>
							</div>
							<div
									data-ng-if="finished && servers.length === 0">
								<p><i>There are no project servers configured yet. You can add servers
									<a data-ng-href="#/project/{{project.identifier}}/server">here</a>. Anyway you can deploy onto
									a global server.</i></p>
							</div>
						</div>

						<div class="tab-pane" id="global">
							<div
									class="deployment-server {{server.applications.0.options.context}}"
									data-ng-repeat="server in globalServers"
									data-ng-class="{false:'disabled'}[presetDisplay(server)]"
									data-ng-click="setCurrentPreset(server)"
									>
								<div class="title">
									<i class="fa fa-hdd-o"></i>{{server.applications.0.nodes.0.name}}
								</div>
								<div class="context-container">
									<span class="context">({{server.applications.0.options.context}})</span>
								</div>
							</div>
							<div
									data-ng-if="finished && globalServers.length === 0">
								<p><i>There are no global servers configured yet. You can add servers
									<a data-ng-href="#/server/">here</a>. Anyway you can deploy onto
									a project server.</i></p>
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>
	<div class="row configure-deployment-row" data-ng-show="currentPreset.applications">
		<!-- ################
			#### STEP 2 #####
			################# -->
			<div class="col-md-2 col-xs-12 text-center">
				<h2>Step 2</h2>
			</div>
			<div class="col-md-4 col-xs-12">
				<h3>Choose a tag (or branch)</h3>
				<select
					class="form-control select-git-commit"
					data-ng-model="selectedCommit"
					data-ng-change="setCommitInCurrentPreset()"
					data-ng-options="item.identifier as item.name group by item.group for item in deployableCommits"
					chosen="deployableCommits"
				/>
			</div>
			<div class="col-md-6 col-xs-12">
				<span ng-show="currentCommit" class="deploy-git-checkout">
					<h3>{{currentCommit.type}} {{currentCommit.name}}</h3>
					<span class="date"><i class="fa fa-clock-o"></i>{{currentCommit.commit.date | date:'medium'}}</span><br />
					<span class="message"><i class="fa fa-user"></i><strong>{{currentCommit.commit.committerName}}</strong>:
					{{currentCommit.commit.message}}</span>
					<span class="git-link">
						<a data-ng-href="{{repositoryUrl}}/commit/{{currentCommit.commit.id}}" target="_blank">View in Git ({{currentCommit.commit.id | limitTo:8}})</a>
					</span>
				</span>
			</div>
	</div>

	<!-- ################
		#### STEP 3 #####
		################# -->
	<div class="row configure-deployment-row" data-ng-if="currentPreset.applications.0.options.tag || currentPreset.applications.0.options.branch">
		<div class="col-md-2 col-xs-12 text-center">
			<h2>Step 3</h2>
		</div>
		<div class="col-md-10 col-xs-12">
			<h3>Override if you must ...</h3>
			<label>Override DeploymentPath</label>
			<span editable-text="currentPreset.applications.0.options.deploymentPath"
				  onbeforesave="updateDeploymentPath($data)"
				  onaftersave="updateDeployment(server)"
			>
				{{currentPreset.applications.0.options.deploymentPath}}
			</span>
			<label>Override TYPO3_CONTEXT</label>
			<span editable-text="currentPreset.applications.0.options.context"
				  onbeforesave="updateSystem($data)"
				  onaftersave="updateDeployment(server)"
			>
				{{currentPreset.applications.0.options.context}}
			</span>
		</div>
	</div>

	<!-- ################
		#### Submit #####
		################# -->
	<div class="row submit-deployment configure-deployment-row" data-ng-if="currentPreset.applications.0.options.tag || currentPreset.applications.0.options.branch">
		<div class="col-xs-12 text-center">
			<button class="btn btn-lg btn-danger" data-ng-disabled="error"  modal="confirm-deployment">Deploy!</button>
		</div>
	</div>
</div>

<div class="modal fade confirm-deployment">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
						class="sr-only">Close</span></button>
				<h4 class="modal-title">{{currentPreset.applications.0.nodes.0.name}} Deployment</h4>
				You are going to deploy {{currentCommit.type}} {{currentCommit.name}} onto {{currentPreset.applications.0.nodes.0.name}}.
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" data-ng-click="deploy(currentPreset)"
						data-dismiss="modal">Continue
				</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>