<flash-messages messages="messages"></flash-messages>

<overlay finished="finished"></overlay>
<div data-ng-if="!finished" class="spinner">
	<spinner></spinner>
</div>

<surfcaptain-header icon="road"></surfcaptain-header>

<div class="container deployments-view dark inner-container">
	<div class="row">
		<div class="col-xs-12 text-center">
			<h1>Deployments</h1>

			<table class="table table-striped">
				<thead>
					<tr>
						<th>Type</th>
						<th>Project</th>
						<th>Status</th>
						<th>Date</th>
						<th>Source</th>
						<th>Target</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="deployment in deployments">
						<td>
							{{deployment.type | DeploymentTypeFilter }}
						</td>
						<td><a data-ng-href="#/project/{{deployment.repositoryIdentifier}}">{{deployment.repositoryIdentifier | uppercase}}</a></td>
						<td><span class="label {{deployment.status}}">{{deployment.status}}</span></td>
						<td>{{deployment.date | date:'MMM d, y HH:mm:ss'}}</td>
						<td>{{deployment.referenceName}}{{deployment.options.sourceNode.name}}</td>
						<td>{{deployment.options.name}}</td>
						<td><a data-ng-href="#/project/{{deployment.repositoryIdentifier}}/deployment/{{deployment.__identity}}" class="btn-xs btn-primary btn">Details</a></td>
					</tr>
				</tbody>
			</table>


		</div>
	</div>
</div>