<surfcaptain-header icon="th"></surfcaptain-header>

<div class="container dark">
	<div class="row">
		<div class="col-xs-12 text-center inner-container">
			<h2>Projects and Packages</h2>
			<br/>
			<ul class="nav nav-tabs" role="tablist">
				<li class="active"><a tab href="#projects" role="tab" data-toggle="tab">Projects</a></li>
				<li><a tab href="#packages" role="tab" data-toggle="tab">Packages</a></li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane active" id="projects">
					<div class="project-breakdown" data-ng-repeat="project in projects">
						<h3>{{project.name}} ({{project.category}} {{project.version}})</h3>
						<table data-ng-repeat="packageCategory in project.packageCategories" class="table table-striped">
							<tr>
								<th>{{packageCategory.name}} ({{packageCategory.count}})</th><th>Version</th><th>Type</th>
							</tr>
							<tr data-ng-repeat="package in project.packages | orderBy : 'name'" data-ng-if="package.category === packageCategory.name">
								<td>{{package.name}}</td>
								<td>{{package.version}}</td>
								<td>{{translateType(package.type)}}</td>
							</tr>
						</table>
					</div>
				</div>

				<div class="tab-pane" id="packages">
					<div class="filter">
						<br />
						<input data-ng-model="filter.name" type="text" class="form-control col-xs-offset-3" style="width: 50%!important;" placeholder="Filter the name"/>
						<hr />
						<br />
					</div>
					<div class="packages-breakdown">
						<table class="table table-striped">
							<tr>
								<th data-ng-click="setSorting('name')">Name</th>
								<th>Usage</th>
								<th data-ng-click="setSorting('amount')">#</th>
							</tr>

							<tr data-ng-repeat="package in packages | filter : filter | orderBy : sort : sortInverse">
								<td>{{package.name}}</td>
								<td><ul>
									<li data-ng-repeat="(version, versionPackages) in package.versions">
										{{version}}: <ul>
										<li data-ng-repeat="pack in versionPackages">
											{{pack.projectName}} ({{translateType(pack.type)}})
										</li>
									</ul>
									</li>
								</ul></td>
								<td>{{addUpVersions(package)}}</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
