<flash-messages messages="messages"></flash-messages>

<overlay finished="finished"></overlay>
<div data-ng-if="!finished" class="spinner">
	<spinner></spinner>
</div>

<surfcaptain-header icon="history"></surfcaptain-header>

<surfcaptain-menu></surfcaptain-menu>

<div class="project-history container inner-container dark">
	<div class="row">
		<div class="col-xs-12 text-center">
			<h2><span class="project-name">Server</span></h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<div
				class="deployment-server-container"
				data-ng-repeat="server in presets"
			>
				<div class="deployment-server"
					 data-ng-class="{false:'disabled'}[presetDisplay(server)]; getRootContext(server.applications[0].options.context)"
				>
					<div class="pull-right">
						<div class="context">({{server.applications[0].options.context}})</div>
					</div>
					<div class="title">
						<i class="fa fa-hdd-o"></i>{{server.applications[0].nodes[0].name}}
					</div>
					<div class="deployed-commit">{{getDeployedTag(server.applications[0].nodes[0].name)}}</div>
				</div>
			</div>
			<span data-ng-if="finished && presets.length === 0" class="no-activities">No servers in project {{name | uppercase}} yet!
				<a data-ng-href="#/project/{{name}}/server">Create one</a>!
			</span>
		</div>
	</div>
	<div class="row history">
		<div class="col-xs-12 text-center">
			<h2><span class="project-name">History</span></h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Type</th>
						<th>Status</th>
						<th>Date</th>
						<th>Source</th>
						<th>Target</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="deployment in deployments | orderBy:ordering:1">
						<td>
							{{deployment.type | DeploymentTypeFilter }}
						</td>
						<td><span class="label {{deployment.status}}">{{deployment.status}}</span></td>
						<td>{{deployment.date | date:'MMM d, y HH:mm:ss'}}</td>
						<td>{{deployment.referenceName}}{{deployment.options.sourceNode.name}}</td>
						<td>{{deployment.options.name}}</td>
						<td><a data-ng-href="#/project/{{name}}/deployment/{{deployment.__identity}}" class="btn-xs btn-primary btn">Details</a></td>
					</tr>
				</tbody>
			</table>
			<span data-ng-if="finished && deployments.length === 0" class="no-activities">No activities in project {{name | uppercase}} yet!</span>
		</div>
	</div>
</div>