<surfcaptain-header icon="flag"></surfcaptain-header>

<surfcaptain-menu></surfcaptain-menu>

<div class="project-history container">
	<div class="row">
		<div class="col-xs-12 text-center">
			<h2><span class="glyphicon glyphicon-time"></span>
				<span class="project-name">History</span></h2>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-push-2 text-center project-selector">
			<div class="checkboxes">
				<input type = "checkbox"
					id = "constraint"
					value = ""
					data-ng-true-value=""
					data-ng-false-value="Sync"
					data-ng-model="constraint"/>
				<label for="constraint">Include Sync</label>
			</div>

			<table>
				<thead>
					<tr>
						<th>Application</th>
						<th>Date</th>
						<th>Server</th>
						<th>Branch/Tag</th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-class-odd="'odd'" data-ng-repeat="item in history | orderBy:ordering:1" data-ng-show="item.application !== constraint">
						<td>
							{{item.application | uppercase }}
						</td>
						<td>
							{{item.date | date:'dd.M.yyyy' }}
						</td>
						<td>
							{{item.server}}
						</td>
						<td>
							<span data-ng-show="item.commit">
								<a href="{{project.web_url}}/commit/{{item.commit}}">
									{{item.gitcheckout}}
								</a>
							</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>