<surfcaptain-header icon="flag"></surfcaptain-header>

<div class="project-selection">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-push-2 text-center project-selector">

				<h2>Choose a project!</h2>
				<span>({{(projects | filter:search).length}} / {{projects.length}})</span>

				<table>
					<thead>
						<tr>
							<td colspan="2">
								<input type="text" data-ng-model="search.name" class="form-control" placeholder="Filter" />
							</td>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-class-odd="'odd'" data-ng-repeat="project in projects | orderBy:ordering:reverse | filter:search:0">
							<td class="project">
								<a data-ng-href="#/project/{{project.name}}" class="project-link">
									{{project.name | uppercase }}
								</a>
							</td>
							<td>
								<a data-ng-href="#/project/{{project.name}}/deploy" class="btn btn-danger">
									Deploy
									<span class="glyphicon glyphicon-road"></span>
								</a>
								<a data-ng-href="#/project/{{project.name}}/sync" class="btn btn-warning">
									Sync
									<span class="glyphicon glyphicon-refresh"></span>
								</a>
								<a data-ng-href="#/project/{{project.name}}/server" class="btn btn-success">
									Server
									<span class="glyphicon glyphicon-hdd"></span>
								</a>
							</td>
						</tr>
					</tbody>
				</table>

				<div class="spinner" data-ng-if="!projects.length && !message">
					<spinner></spinner>
				</div>

				<div class="error" data-ng-if="message">
					<p>{{message}}</p>
				</div>
			</div>
		</div>
	</div>
</div>