<toaster-container></toaster-container>

<overlay finished="finished"></overlay>
<div class="spinner" data-ng-if="!finished">
	<spinner></spinner>
</div>


<surfcaptain-header icon="flag"></surfcaptain-header>
<div class="project-selection">
	<div class="container inner-container">
		<div class="row">
			<div class="col-xs-12 col-md-8 col-md-push-2 text-center project-selector">

				<h2>Choose a project!</h2>
				<span>({{(projects | filter:search).length}} / {{projects.length}})</span>

				<table>
					<thead>
						<tr>
							<td colspan="2">
								<input type="text" data-ng-model="search.name" class="form-control" placeholder="Filter" />
							</td>
						</tr>
					</thead>
					<tbody>
						<tr data-ng-class-odd="'odd'" data-ng-repeat="project in projects | orderBy:ordering:reverse | filter:search:0">
							<td class="project">
								<a data-ng-href="#/project/{{project.identifier}}" class="project-link">
									{{project.identifier | uppercase }}
								</a>
							</td>
							<td>
								<a data-ng-href="#/project/{{project.identifier}}/deploy" class="btn btn-danger">
									Deploy
									<i class="fa fa-road"></i>
								</a>
								<a data-ng-href="#/project/{{project.identifier}}/sync" class="btn btn-warning">
									Sync
									<i class="fa fa-refresh"></i>
								</a>
								<a data-ng-href="#/project/{{project.identifier}}/server" class="btn btn-success">
									Server
									<i class="fa fa-hdd-o"></i>
								</a>
							</td>
						</tr>
					</tbody>
				</table>

				<div class="error" data-ng-if="message">
					<p>{{message}}</p>
				</div>
			</div>
		</div>
	</div>
</div>