<surfcaptain-header icon="hdd"></surfcaptain-header>

<surfcaptain-menu></surfcaptain-menu>

<div class="container project-server dark">
	<div class="row">
		<div class="col-xs-12 text-center">

			<div class="new-server-button text-center" data-ng-init="addAServer=false">
				<button
					class="btn btn-lg btn-success"
					data-ng-click="addAServer = !addAServer"
				>
					<span class="glyphicon glyphicon-plus-sign"></span>
					Add a Server
				</button>
			</div>

			<div class="new-server animate row text-left" data-ng-show="addAServer">
				<form data-ng-submit="addServer(newPreset)" name="newServerForm">
					<div class="col-xs-4 col-xs-offset-2">
						<div class="server-name-suggestions">
							<label>Choose a name that is not yet taken:</label><br />
							<span
								data-ng-repeat="nameSuggestion in nameSuggestions"
								class="label label-primary"
								data-ng-class="{false:'unavailable'}[nameSuggestion.available]"
							>
								<a
									data-ng-if="nameSuggestion.available"
									data-ng-click="$parent.$parent.newPreset.nodes.0.name = generateServerName(nameSuggestion.suffix)"
								>{{nameSuggestion.suffix}}</a>
								<span data-ng-if="!nameSuggestion.available">{{nameSuggestion.suffix}}</span>
							</span>
						</div>

						<label>Host:</label> *
						<input
							type="text"
							data-ng-model="newPreset.nodes.0.hostname"
							placeholder="Host"
							class="form-control"
							name="host"
							required
							data-ng-trim
						/>
						<div class="messages">
							<div data-ng-messages="newServerForm.host.$error" data-ng-if="newServerForm.host.$dirty">
								<span class="error" data-ng-message="required">Host is required!</span>
							</div>
						</div>

						<label>DocumentRoot:</label> *
						<input
							type="text"
							data-ng-model="newPreset.options.documentRoot"
							placeholder="DocumentRoot"
							class="form-control"
							name="documentRoot"
							data-ng-trim
							last-character-validate
							character="/"
							required
						/>
						<div class="messages">
							<div data-ng-messages="newServerForm.documentRoot.$error" data-ng-if="newServerForm.documentRoot.$dirty">
								<span class="error" data-ng-message="last-character-validate">Must end with a '/'!</span>
								<span class="error" data-ng-message="required">DocumentRoot is required!</span>
							</div>
						</div>
					</div>

					<div class="col-xs-4">

						<label>Or type a name:</label> *
						<input
								type="text"
								data-ng-model="newPreset.nodes.0.name"
								placeholder="Name"
								class="form-control"
								name="name"
								required
								data-ng-trim
								server-name-validate
								server-names="serverNames"
								/>
						<div class="messages">
							<div data-ng-messages="newServerForm.name.$error" data-ng-if="newServerForm.name.$dirty">
								<span class="error" data-ng-message="required">Name is required!</span>
								<span class="error" data-ng-message="server-name-validate">Not unique!</span>
							</div>
						</div>

						<label>User:</label> *
						<input
							type="text"
							data-ng-model="newPreset.nodes.0.username"
							placeholder="User"
							class="form-control"
							name="username"
							required data-ng-trim
						/>
						<div class="messages">
							<div data-ng-messages="newServerForm.username.$error" data-ng-if="newServerForm.username.$dirty">
								<span class="error" data-ng-message="required">User is required!</span>
							</div>
						</div>

						<label>Context:</label> *
						<select
							data-ng-model="newPreset.options.context"
							class="form-control"
							data-ng-options="context for context in contexts"
							name="context"
							required
						>
							<option value="">Choose context</option>
						</select>
						<div class="messages">
							<div data-ng-messages="newServerForm.context.$error" data-ng-if="newServerForm.context.$dirty">
								<span class="error" data-ng-message="required">Context is required!</span>
							</div>
						</div>
					</div>

					<div class="col-xs-12 text-center submit-new-server">
						<button
							class="btn btn-sm btn-primary"
							ng-disabled="newServerForm.$invalid"
							ng-click="addAServer = false"
							>
							<span class="glyphicon glyphicon-floppy-disk"></span>
							Save
						</button>
					</div>
				</form>
			</div>

			<div class="row text-center" data-ng-repeat="preset in servers">
				<div class="server">
					<div class="single-server">
						<div class="server-icon">
							<span class="glyphicon glyphicon-hdd"></span>
						</div>
						<div class="server-data">
							<h3>
								<span editable-text="preset.applications.0.nodes.0.name">{{preset.applications.0.nodes.0.name}}</span>
							</h3>
							<table>
								<tr>
									<td><span class="wrapper">H:
											<span
												editable-text="preset.applications.0.nodes.0.hostname"
												onbeforesave="updateHost($data)"
												onaftersave="updateServer(server)"
											>
												{{preset.applications.0.nodes.0.hostname || 'please add'}}
											</span>
										</span></td>
									<td><span class="wrapper">C:
											<span
												class="context"
												editable-select="preset.applications.0.options.context"
												e-ng-options="context for context in contexts"
												onbeforesave="updateContext($data)"
												onaftersave="updateServer(server)"
											>
												{{preset.applications.0.options.context || 'please add'}}
											</span>
									</span></td>
								</tr>
								<tr>
									<td><span class="wrapper">D:
											<span
												editable-text="preset.applications.0.options.documentRoot"
												onbeforesave="updateDocumentRoot($data)"
												onaftersave="updateServer(server)"
											>
												{{preset.applications.0.options.documentRoot || 'please add'}}
											</span>
									</span></td>
									<td><span class="wrapper">U:
											<span
												editable-text="preset.applications.0.nodes.0.username"
												onbeforesave="updateUsername($data)"
												onaftersave="updateServer(server)"
											>
												{{preset.applications.0.nodes.0.username || 'please add'}}
											</span>
									</span></td>
								</tr>
							</table>
						</div>
						<div class="server-edit">
							<button class="btn btn-danger remove" tooltip data-placement="bottom" title="Delete" data-ng-click="deleteServer(preset)">
								<span class="glyphicon glyphicon-trash"></span>
							</button>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>