<flash-messages messages="messages" />

<overlay finished="finished" />
<div data-ng-if="!finished" class="spinner">
	<spinner />
</div>

<surfcaptain-header icon="hdd-o"></surfcaptain-header>

<surfcaptain-menu></surfcaptain-menu>
<div class="container project-server dark inner-container">
	<div class="row">
		<div class="col-xs-12 text-center">

			<div class="new-server-button text-center" data-ng-init="addAServer=false">
				<button
					class="btn btn-lg btn-success"
					data-ng-click="addAServer = !addAServer"
				>
					<span class="fa fa-plus-square"></span>
					Add a Server
				</button>
			</div>

			<div class="new-server animate row text-left" data-ng-show="addAServer">
				<form data-ng-submit="addServer(newPreset)" name="newServerForm">
					<div class="col-xs-4 col-xs-offset-2">
						<div class="server-name-suggestions">
							<label>Choose a name that is not yet taken:</label><br />
							<span
								data-ng-repeat="nameSuggestion in nameSuggestions"
								class="label label-primary"
								data-ng-class="{false:'unavailable'}[nameSuggestion.available]"
							>
								<a
									data-ng-if="nameSuggestion.available"
									data-ng-click="
										$parent.$parent.newPreset.nodes.0.name = generateServerName(nameSuggestion.suffix);
										$parent.$parent.newPreset.options.context = nameSuggestion.context;
										$parent.$parent.setDeploymentPath(nameSuggestion.suffix)"
								>{{nameSuggestion.suffix}}</a>
								<span data-ng-if="!nameSuggestion.available">{{nameSuggestion.suffix}}</span>
							</span>
						</div>

						<label>Host:</label> *
						<input
							type="text"
							data-ng-model="newPreset.nodes.0.hostname"
							placeholder="Host"
							class="form-control"
							name="host"
							required
							data-ng-trim
						/>
						<div class="messages">
							<div data-ng-messages="newServerForm.host.$error" data-ng-if="newServerForm.host.$dirty">
								<span class="error" data-ng-message="required">Host is required!</span>
							</div>
						</div>

						<label>DeploymentPath:</label> *
						<input
							type="text"
							data-ng-model="newPreset.options.deploymentPath"
							placeholder="DeploymentPath"
							class="form-control"
							name="deploymentPath"
							data-ng-trim
							last-character-validate
							character="/"
							required
						/>
						<div class="messages">
							<div data-ng-messages="newServerForm.deploymentPath.$error" data-ng-if="newServerForm.deploymentPath.$dirty">
								<span class="error" data-ng-message="last-character-validate">Must end with a '/'!</span>
								<span class="error" data-ng-message="required">DeploymentPath is required!</span>
							</div>
						</div>
					</div>

					<div class="col-xs-4">

						<label>Or type a name:</label> *
						<input
								type="text"
								data-ng-model="newPreset.nodes.0.name"
								placeholder="Name"
								class="form-control"
								name="name"
								required
								data-ng-trim
								server-name-validate
								server-names="serverNames"
								/>
						<div class="messages">
							<div data-ng-messages="newServerForm.name.$error" data-ng-if="newServerForm.name.$dirty">
								<span class="error" data-ng-message="required">Name is required!</span>
								<span class="error" data-ng-message="server-name-validate">Not unique!</span>
							</div>
						</div>

						<label>User:</label> *
						<input
							type="text"
							data-ng-model="newPreset.nodes.0.username"
							placeholder="User"
							class="form-control"
							name="username"
							required data-ng-trim
						/>
						<div class="messages">
							<div data-ng-messages="newServerForm.username.$error" data-ng-if="newServerForm.username.$dirty">
								<span class="error" data-ng-message="required">User is required!</span>
							</div>
						</div>

						<label>Context:</label> *
						<input
							data-ng-model="newPreset.options.context"
							class="form-control"
							name="context"
							required
							start-with-validate="contexts"
						/>
						<div class="messages">
							<div data-ng-messages="newServerForm.context.$error" data-ng-if="newServerForm.context.$dirty">
								<span class="error" data-ng-message="start-with-validate">Context must start with Production, Testing or Development.</span>
								<span class="error" data-ng-message="required">Context is required!</span>
							</div>
						</div>
					</div>

					<div class="col-xs-12 text-center submit-new-server">
						<button
							class="btn btn-sm btn-primary"
							ng-disabled="newServerForm.$invalid"
							ng-click="addAServer = false"
							>
							<i class="fa fa-save"></i>
							Save
						</button>
					</div>
				</form>
			</div>

			<server-list servers="servers" getAllServers="getAllServers()" finished="finished" messages="messages"></server-list>

		</div>
	</div>
</div>