<toaster-container></toaster-container>

<overlay finished="finished"></overlay>
<div data-ng-if="!finished" class="spinner">
	<spinner></spinner>
</div>

<surfcaptain-header icon="eye"></surfcaptain-header>

<surfcaptain-menu></surfcaptain-menu>

<div class="container single-deployment-view dark inner-container">
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
			<h1>{{deployment.type | DeploymentTypeFilter}} Details</h1>
			<h3><a data-ng-href="#/project/{{deployment.repositoryIdentifier}}" >{{deployment.repositoryIdentifier}}</a> - {{deployment.referenceName}}{{deployment.options.sourceNode.name}} onto {{deployment.configuration.applications[0].nodes[0].name}}</h3>
			<br />
			<button data-ng-if="deployment.status === 'waiting'" class="btn btn-danger" data-ng-click="cancelDeployment()">Cancel</button>
			<button data-ng-if="deployment.status !== 'running' && deployment.status !== 'waiting'" class="btn btn-danger" modal="confirm-deployment">Deploy again</button>
			<br /><br /><br />
			<dl class="dl-horizontal">
				<dt>Project</dt>
				<dd><a data-ng-href="#/project/{{deployment.repositoryIdentifier}}" >{{deployment.repositoryIdentifier}}</a></dd>
				<dt>Date</dt>
				<dd>{{deployment.date|date:'medium'}}</dd>
				<dt>Target</dt>
				<dd>{{deployment.options.name}}</dd>
				<dt data-ng-if="deployment.options.sourceNode">Source</dt>
				<dd data-ng-if="deployment.options.sourceNode">{{deployment.options.sourceNode.name}}</dd>
				<dt>Status</dt>
				<dd><span class="label {{deployment.status}}">{{deployment.status}}</span></dd>
				<dt>Repository URL</dt>
				<dd>{{deployment.repositoryUrl}}</dd>
				<dt data-ng-if="deployment.referenceName">Reference name</dt>
				<dd data-ng-if="deployment.referenceName">{{deployment.referenceName}}</dd>
				<dt>Deployed Commit</dt>
				<dd><a data-ng-href="{{project.webUrl}}/commit/{{deployment.configuration.applications[0].options.sha1}}" target="_blank">{{deployment.configuration.applications[0].options.sha1 | limitTo:10}}</a></dd>
				<dt>Client IP</dt>
				<dd>{{deployment.clientIp}}</dd>
				<dt>Configuration</dt>
				<dd>
					<button
						class="btn btn-xs btn-primary"
						data-ng-click="showConfiguration=!showConfiguration"
						data-ng-init="showConfiguration=false"
					>show Configuration</button>
			<pre class="pretty-json" data-ng-if="showConfiguration">
{{deployment.configuration | json}}
			</pre>
				</dd>
			</dl>
		</div>
	</div>
	<div class="row">
		<h2>Log</h2>
		<table class="table table-striped">
			<tr>
				<th>Time</th>
				<th>Type</th>
				<th>Message</th>
				<th>#</th>
			</tr>
			<tr
				data-ng-repeat="logentry in deployment.logs | orderBy:'number':1"
				data-ng-class="{0: 'LOG_EMERG', 3: 'LOG_ERR', 4: 'LOG_WARNING', 5: 'LOG_NOTICE', 6: 'LOG_INFO', 7: 'LOG_DEBUG'}[logentry.severity];"
			>
				<td>{{logentry.date | date:'H:mm:ss'}}</td>
				<td>{{logentry.severity | logCodeFilter}}</td>
				<td class="message">{{logentry.message}}</td>
				<td>{{logentry.number}}</td>
			</tr>
		</table>
		<span id="bottom">
			<span class="label {{deployment.status}}" data-ng-if="deployment.logs.length">{{deployment.status}}</span>
		</span>
	</div>
</div>

<div class="modal fade confirm-deployment">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
						class="sr-only">Close</span></button>
				<h4 class="modal-title">Deploy again!</h4>
				You are going to deploy Commit {{deployment.configuration.applications[0].options.sha1}} onto {{deployment.options.name}}.
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" data-ng-click="deployConfigurationAgain()"
						data-dismiss="modal">Continue
				</button>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>
