<flash-messages messages="messages"></flash-messages>

<overlay finished="finished"></overlay>
<div data-ng-if="!finished" class="spinner">
	<spinner></spinner>
</div>

<surfcaptain-header icon="road"></surfcaptain-header>

<div class="container single-deployment-view dark inner-container">
	<div class="row">
		<div class="col-xs-12 col-md-8 col-md-offset-2 text-center">
			<h1>Deployment Details</h1>
			<h3><a data-ng-href="#/project/{{deployment.repositoryIdentifier}}" >{{deployment.repositoryIdentifier}}</a> - {{deployment.referenceName}} onto {{deployment.configuration.applications.0.nodes.0.name}}</h3>
			<br />
			<button data-ng-if="deployment.status === 'waiting'" class="btn btn-danger" data-ng-click="cancelDeployment()">Cancel</button>
			<button data-ng-if="deployment.status === 'failed'" class="btn btn-danger" data-ng-click="deployConfigurationAgain()">Deploy again</button>
			<br /><br /><br />
			<dl class="dl-horizontal">
				<dt>Project</dt>
				<dd><a data-ng-href="#/project/{{deployment.repositoryIdentifier}}" >{{deployment.repositoryIdentifier}}</a></dd>
				<dt>Date</dt>
				<dd>{{deployment.date|date:'medium'}}</dd>
				<dt>Target</dt>
				<dd>{{deployment.options.name}}</dd>
				<dt>Status</dt>
				<dd><span class="label {{deployment.status}}">{{deployment.status}}</span></dd>
				<dt>Repository URL</dt>
				<dd>{{deployment.repositoryUrl}}</dd>
				<dt>Reference name</dt>
				<dd>{{deployment.referenceName}}</dd>
				<dt>Client IP</dt>
				<dd>{{deployment.clientIp}}</dd>
				<dt>Configuration</dt>
				<dd>
					<button
						class="btn btn-xs btn-primary"
						data-ng-click="showConfiguration=!showConfiguration"
						data-ng-init="showConfiguration=false"
					>show Configuration</button>
			<pre class="pretty-json" data-ng-if="showConfiguration">
{{deployment.configuration | json}}
			</pre>
				</dd>
			</dl>
		</div>
	</div>
	<div class="row">
		<h3>Log</h3>
		<table class="table table-striped">
			<tr
				data-ng-repeat="logentry in deployment.logs | orderBy:'number'"
				data-ng-class="{3: 'LOG_ERR', 4: 'LOG_WARNING', 5: 'LOG_NOTICE', 6: 'LOG_INFO', 7: 'LOG_DEBUG'}[logentry.severity];"
			>
				<td>{{logentry.date | date:'H:mm:ss'}}</td>
				<td>{{logentry.severity | logCodeFilter}}</td>
				<td class="message">{{logentry.message}}</td>
				<td>{{logentry.number}}</td>
			</tr>
		</table>
		<span id="bottom"></span>
	</div>
</div>