html,body {
	height: 100%;
}
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import "Partials/Header.less";
@import "Partials/Menu.less";
@import "Partials/Footer.less";
@import "Partials/FlashMessages.less";
@import "Partials/About.less";
@import "Partials/Projects.less";
@import "Partials/Project.less";
@import "Partials/Deploy.less";
@import "Partials/Server.less";
@import "Partials/Deployments.less";
@import "Partials/SingleDeployment.less";

.surfcaptain-container {
	min-height: 100%;
	position: relative;
}

div.surfcaptain.deploy {
	background-color: @brand-danger;
}

div.surfcaptain.sync {
	background-color: @brand-warning;
}

div.surfcaptain.server,
div.surfcaptain.globalserver{
	background-color: @brand-success;
}

div.surfcaptain.about {
	background-color: @brand-primary;
}

.dark {
	padding-top: 15px;
	color: @main-color-bright;
}
.ngview {
	padding-bottom: 60px;
}

.modal-dialog {
	width: 500px;
	margin: 150px auto 0;
	.modal-content {
		background-color: #cccccc;
		.modal-header {
			border: none;
			color: #000000;
		}
		.modal-footer {
			border: none;
			margin-top: 0px;
			padding: 12px;
			text-align: center;
		}
	}
}

div.overlay {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: #333;
	opacity: 0.8;
	filter: alpha(opacity=80);
	z-index: 50;
}

.spinner {
	z-index: 100;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -40px 0 0 -40px;
	.fa {
		color: #dddddd;
		width: 80px;
		height: 80px;
		text-align: center;
	}
}

.uppercase {
	text-transform: uppercase;
}

.label {
	&.waiting {
		background-color: @brand-warning;
	}
	&.success {
		background-color: @brand-success;
	}
	&.failed {
		background-color: @brand-danger;
	}
	&.running {
		background-color: @brand-info;
	}
	&.cancelled {
		background-color: @brand-danger;
	}
}

.inner-container {
}

@-moz-keyframes blinker {
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}

@keyframes blinker {
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}

.table-striped {
	text-align: left;
	tbody>tr:nth-child(odd)>td {
		background-color: #333;
	}
}

body * {
	font-family: 'Open Sans', sans-serif;
}

#toast-container > div {
	width: 500px;
	-moz-box-shadow: 0 0 3px #999999;
	-webkit-box-shadow: 0 0 3px #999999;
	box-shadow: 0 0 3px #999999;
}
#toast-container > :hover {
	-moz-box-shadow: 0 0 3px #000000;
	-webkit-box-shadow: 0 0 3px #000000;
	box-shadow: 0 0 3px #000000;
}