.project-deploy {
	.configure-deployment-row {
		margin-top: 30px;
		.configure-deployment {
			color: @brand-danger;
			margin-bottom: 20px;
			padding-top: 15px;
			&:first-child {
				border-top: none;
			}
			select, .chosen-container {
				margin-bottom: 15px;
				width: 80%;
			}
			label {
				width: 100%;
				margin-top: 5px;
			}
			h2 {
				margin-top: 10px;
			}
		}
		.deploy-git-checkout {
			display: inline-block;
			font-size: 90%;
			font-style: italic;
			margin-top: 5px;
			color: @main-color-bright;
		}
		.deploy-history {
			color: @main-color-bright;
			border: 3px solid @main-color;
			border-radius: 5px;
			padding: 10px;
			box-shadow: @shadow;
			height: auto;
			.form-control {
				padding: 1px 6px;
				width: 150px;
				margin: auto;
				height: 25px;
				opacity: 0.5;
			}
			table {
				td,th {
					padding: 6px;
					text-align: left;
				}
			}
		}
		.submit-deployment {
			margin-top: 30px;
		}
	}
}