.project-deploy {
	.configure-deployment-row {
		margin-top: 30px;
		margin-bottom: 20px;
		padding-top: 15px;
		&:first-child {
			border-top: none;
		}
		select, .chosen-container {
			margin-bottom: 15px;
			width: 80%;
		}
		label {
			width: 100%;
			margin-top: 5px;
		}
		h2 {
			margin-top: 20px;
		}
		h3 {
			margin-top: 0px;
			font-size: 22px;
		}
		.nav-tabs {
			li a:hover {
				background-color: #444;
			}
			li.active a {
				color: @main-color-bright;
			}
		}
		.tab-content {
			padding-top: 10px;
			.deployment-server {
				width: 650px;
				height: 35px;
				border: solid 2px #000;
				box-shadow: @shadow;
				border-radius: 5px;
				margin: 10px;
				cursor: pointer;
				color: #000;
				padding: 4px;

				&.disabled {
					opacity: 0.3;
					&:hover {
						opacity: 0.6;
					}
				}
				&.Production {
					background-color: @brand-danger;
				}
				&.Staging {
					background-color: @brand-warning;
				}
				&.Development {
					background-color: @brand-success;
				}
				.title {
					font-size: 110%;
					text-transform: uppercase;
					float: left;
					.fa {
						margin-right: 8px;
						font-size: 22px;
					}
				}
				.context-container {
					float: right;
					.context {
						display: block;
						margin: auto;
						text-align: center;
						font-style: italic;
					}
				}
			}
		}
		.deploy-git-checkout {
			h3 {
				text-align: center;
			}
			.date,
			.git-link {
				font-size: 85%;
				border-bottom: 1px solid;
				border-top: 1px solid;
				padding: 4px 0;
				margin-bottom: 3px;
				width: 100%;
				display: inline-block;
				text-align: center;
			}
			.git-link {
				border-bottom: none;
			}
			.message {
				padding: 6px;
				display: inline-block;
			}
			.fa {
				margin-right: 5px;
			}
		}
		.deploy-history {
			color: @main-color-bright;
			border: 3px solid @main-color;
			border-radius: 5px;
			padding: 10px;
			box-shadow: @shadow;
			height: auto;
			.form-control {
				padding: 1px 6px;
				width: 150px;
				margin: auto;
				height: 25px;
				opacity: 0.5;
			}
			table {
				width: 500px;
				margin: auto;
				td,th {
					padding: 6px;
					text-align: left;
				}
			}
		}
		.submit-deployment {
			margin-top: 30px;
		}
	}
}