.footer {
	background-color: @main-color;
	color: @brand-primary;
	height: 50px;
	text-align: center;
	position: absolute;
	bottom: 0px;
	width: 100%;
	margin-top: 15px;
	font-style: italic;
	font-size: 90%;
	line-height: 50px;
}