div.project-history {
	margin-top: 15px;
	background-color: @body-bg !important;
	color:  @brand-primary;

	table {
		text-align: left;
		width: 80%;
		margin: 15px auto;

		thead tr {
			border-bottom: 2px solid @brand-primary;
		}

		tr {
			&.odd {
				background-color: @main-color;
			}
			td {
				padding: 3px 2px;
			}
		}
	}
}