.project-server {
	.server {
		width: 840px;
		height: 120px;
		border:1px solid #999999;
		color: @main-color;
		border-radius: 50px 0 0 50px;
		margin: 35px auto;
		padding: 10px 10px 10px 10px;
		.single-server {
			.server-icon {
				font-size: 50px;
				float: left;
				line-height: 100px;
				padding: 0 10px 0 10px;
				color: #FFFFFF !important;
				.changed {
					color: @brand-primary !important;
				}
			}
			.server-data {
				float: left;
				width: 700px;
				padding: 0 0 0 10px;
				text-align: left;
				.not-saved-yet {
					display: inline-block;
					position: relative;
					bottom: -30px;
					color: @brand-primary;
				}
				h3 {
					margin: -55px;
					text-align: right;
					font-size: 40px;
					color: #999999;
					.editable-click {
						color: #FFFFFF !important;
					}
				}
				.editable-click {
					border: 1px solid @body-bg;
					color: #999999;
					padding: 2px;
				}
				.editable-click:hover {
					border: 1px solid @main-color;
				}
				table {
					width: 100%;
					margin-top: 38px;
					td {
						width: 60%;
						padding: 0px;
						line-height: 35px;
						height: 55px;
						font-size: 20px;
						vertical-align: top;
						.editable-input {
							padding: 2px;
							height: 28px;
						}
						.btn {
							padding: 2px;
						}
						&:last-child {
							width: 40%;
						}
						.tooltip-inner {
							background-color: @main-color;
							color: #000000;
						}
						.help-block {
							padding: 0px;
							margin: 0px;
							line-height: 20px;
						}
					}
				}
			}
			.server-edit {
				.remove {
					float: right;
					position: relative;
					top: 5px;
					display: none;
				}
			}
			.server-edit {
				.update {
					float: right;
					position: relative;
					top: 22px;
					display: none;
				}
			}
		}
		&:hover {
			.server-edit {
				.remove {
					display: inline-block;
				}
				.update {
					display: inline-block;
				}
			}
		}
	}
	.new-server-button {
		margin: 20px auto;
	}
	.new-server.animate {
		margin: 15px auto 30px;
		padding:10px;
		.form-control.ng-dirty.ng-invalid {
			border-color: red;
		}
		.submit-new-server {
			margin-top: 20px;
		}
		.messages {
			height: 25px;
			margin-bottom: 0px;
			.error {
				color: red;
			}
		}
		.server-name-suggestions {
			height: 88px;
			span.label {
				display: inline-block;
				cursor: pointer;
				font-size: 20px;
				margin: 1px 6px;
				padding: 6px;
				a {
					color: black;
					text-decoration: none;
				}
				&:hover {
					color: black;
				}
				&.unavailable {
					cursor: default;
					color: #888;
					opacity: 0.4;
				}
			}
		}
	}
	.animate.ng-hide-add, .animate.ng-hide-remove {
		-webkit-transition: all linear 1s;
		-moz-transition: all linear 1s;
		-o-transition: all linear 1s;
		transition: all linear 1s;
		display: block!important;
	}
	.animate.ng-hide-add.ng-hide-add-active,
	.animate.ng-hide-remove {
		opacity:0;
	}
	.animate.ng-hide-add,
	.animate.ng-hide-remove.ng-hide-remove-active {
		opacity:1;
	}
}