Lightwerk:
  SurfCaptain:
      github.com:
        apiUrl: https://api.github.com/
        driver: 'GitHub'
        accountName: 'git@github.com'
        privateToken: '1234567890abcdefghij'
        mapping:
          Repository:
            repositoryUrl: '{{ssh_url}}'
            webUrl: '{{url}}'
          Commit:
            id: '{{sha}}'