Lightwerk:
  SurfCaptain:

    # Configures sources of the git repositories
    sources:
      #  'git.lightwerk.com' is just a name for the configuration
      git.lightwerk.com:
        # URL to the API
        apiUrl: 'https://git.lightwerk.com/api/v3/'
        # We have different drivers
        driver: 'GitLab'
        # AccountName connects the repositoryUrl with this source configuration
        # of example: git@git.lightwerk.com:namespace/projectname.git)
        #             ^^^^^^^^^^^^^^^^^^^^^
        accountName: 'git@git.lightwerk.com'
        # Go to /profile/account in GitLab to get your private token
        privateToken: '1234567890abcdefghij'
        # Offer repositories of these filteres for deployments
        # (key (lwProjects, single) is just a name for the configuration)
        repositories:
          # All repositories of one group/namespace
          lwProjects: groups/10
          # A single repository
          single: projects/209
        # Map the response of GitHub to the SurfCaptain models (Classes/../Domain/Model/..)
        mapping:
          # Model name
          Repository:
            # modelProperty: DataMapper replaces the {{markers}} with values of the API response
            repositoryUrl: '{{ssh_url_to_repo}}'
          Commit:
            date: '{{committed_date}}'
            committerName: '{{committer.name}}'

      # Another example with GitHubDriver
      github.com:
        apiUrl: https://api.github.com/
        driver: 'GitHubDriver'
        accountName: 'git@github.com'
        privateToken: '1234567890abcdefghij'
        mapping:
          Repository:
            repositoryUrl: '{{ssh_url}}'
            webUrl: '{{url}}'
          Commit:
            id: '{{sha}}'