<div class="surfcaptain {{context}}">
	<a href="#/" class="btn btn-lg btn-primary home-button">
		<i class="fa fa-list"></i>
		All Projects
	</a>

	<a href="#/server" class="btn btn-lg btn-primary server-button">
		<i class="fa fa-hdd-o"></i>
		Global Server
	</a>

	<a href="#/extensions" class="btn btn-lg btn-primary extensions-button">
		<i class="fa fa-th"></i>
		Extensions & Module
	</a>

	<a href="#/about" class="btn btn-lg btn-primary about-button">
		<i class="fa fa-bullhorn"></i>
		About SurfCaptain
	</a>

	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h1><span class="fa fa-{{icon}}"></span></h1>
			</div>
		</div>
	</div>
</div>