<div class="surfcaptain {{context}}">
	<a href="#/" class="btn btn-lg btn-primary home-button">
		<span class="glyphicon glyphicon-list"></span>
		All Projects
	</a>

	<a href="#/server" class="btn btn-lg btn-primary server-button">
		<span class="glyphicon glyphicon-hdd"></span>
		Global Server
	</a>

	<a href="#/" class="btn btn-lg btn-primary extensions-button">
		<span class="glyphicon glyphicon-th"></span>
		Extensions & Module
	</a>

	<a href="#/about" class="btn btn-lg btn-primary about-button">
		<span class="glyphicon glyphicon-bullhorn"></span>
		About SurfCaptain
	</a>

	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h1><span class="glyphicon glyphicon-{{icon}}"></span></h1>
			</div>
		</div>
	</div>
</div>