<div class="surfcaptain surfcaptain-header {{context}}">
	<a href="#/" class="btn btn-lg btn-primary home-button" data-ng-class="{true:'active'}[context === '']">
		<i class="fa fa-list"></i>
		All Projects
	</a>

	<a href="#/globalserver" class="btn btn-lg btn-primary server-button" data-ng-class="{true:'active'}[context === 'globalserver']">
		<i class="fa fa-hdd-o"></i>
		Global Server
	</a>

	<a href="#/extensions" class="btn btn-lg btn-primary extensions-button" data-ng-class="{true:'active'}[context === 'extensions']">
		<i class="fa fa-th"></i>
		Extensions & Module
	</a>

	<a href="#/deployments" class="btn btn-lg btn-primary about-button" data-ng-class="{true:'active'}[context === 'deployments']">
		<i class="fa fa-road"></i>
		Last Activities
	</a>

	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<div class="favorites-container" data-ng-if="favorites.length">
					<p>
						<span data-ng-repeat="favorite in favorites" class="favorite">
							<a data-ng-href="#/project/{{favorite.identifier}}">{{favorite.identifier}}</a>
						</span>
					</p>
					<p>
						<span class="favorites-label">
							<i class="fa fa-history"></i> Last Projects
						</span>
					</p>
				</div>
				<h1><span class="fa fa-{{icon}}"></span></h1>
			</div>
		</div>
	</div>
</div>