<div class="container project-buttons">
	<div class="row">
		<div class="col-md-3 text-right project-brand">
			{{project | uppercase}}
		</div>
		<div class="col-md-6 text-center">
			<a data-ng-href="#/project/{{project}}" class="btn btn btn-primary" data-ng-disabled="context === 'history'">
				<i class="fa fa-history"></i>
				History
			</a>
			<a data-ng-href="#/project/{{project}}/server" class="btn btn btn-success" data-ng-disabled="context === 'server'">
				<i class="fa fa-hdd-o"></i>
				Server
			</a>
			<a data-ng-href="#/project/{{project}}/sync" class="btn btn btn-warning" data-ng-disabled="context === 'sync'">
				<i class="fa fa-refresh"></i>
				Sync
			</a>
			<a data-ng-href="#/project/{{project}}/deploy" class="btn btn btn-danger" data-ng-disabled="context === 'deploy'">
				<i class="fa fa-road"></i>
				Deploy
			</a>
		</div>
	</div>
</div>