<div class="row text-center" data-ng-repeat="preset in servers">
	<div class="server">
		<div class="single-server">
			<div class="server-icon">
				<span class="glyphicon glyphicon-hdd" data-ng-class="{true:'changed'}[preset.changed]"></span>
			</div>
			<div class="server-data">
				<h3>
					<span editable-text="preset.applications.0.nodes.0.name">{{preset.applications.0.nodes.0.name}}</span>
				</h3>
				<span class="not-saved-yet">&nbsp;<span data-ng-if="preset.changed">Changes not saved yet</span></span>
				<table>
					<tr>
						<td><span class="wrapper">H:
											<span
													editable-text="preset.applications.0.nodes.0.hostname"
													onbeforesave="updateHost($data)"
													onaftersave="preset.changed=true"
													>
												{{preset.applications.0.nodes.0.hostname || 'please add'}}
											</span>
										</span></td>
						<td><span class="wrapper">C:
											<span
													class="context"
													editable-select="preset.applications.0.options.context"
													e-ng-options="context for context in contexts"
													onbeforesave="updateContext($data)"
													onaftersave="preset.changed=true"
													>
												{{preset.applications.0.options.context || 'please add'}}
											</span>
									</span></td>
					</tr>
					<tr>
						<td><span class="wrapper">D:
											<span
													editable-text="preset.applications.0.options.documentRoot"
													onbeforesave="updateDocumentRoot($data)"
													onaftersave="preset.changed=true"
													>
												{{preset.applications.0.options.documentRoot || 'please add'}}
											</span>
									</span></td>
						<td><span class="wrapper">U:
											<span
													editable-text="preset.applications.0.nodes.0.username"
													onbeforesave="updateUsername($data)"
													onaftersave="preset.changed=true"
													>
												{{preset.applications.0.nodes.0.username || 'please add'}}
											</span>
									</span></td>
					</tr>
				</table>
			</div>
			<div class="server-edit">
				<button class="btn btn-danger remove" tooltip data-placement="bottom" title="Delete"
						data-ng-click="setCurrentPreset(preset)" modal="confirm-deletion">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
				<button
						class="btn btn-primary update"
						tooltip data-placement="bottom"
						title="Save changes"
						data-ng-click="updateServer(preset)"
						data-ng-if="preset.changed"
				>
					<span class="glyphicon glyphicon-floppy-disk"></span>
				</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade confirm-deletion">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
						class="sr-only">Close</span></button>
				<h4 class="modal-title">Delete Server {{currentPreset.applications.0.nodes.0.name}}?</h4>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-ng-click="deleteServer(currentPreset)"
						data-dismiss="modal">OK
				</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>