<f:layout name="Default" />

<f:section name="Title">List of all repositories</f:section>

<f:section name="Content">
	<f:if condition="{repositories}">
		<f:then>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Repository URL</th>
						<th>Identifier</th>
						<th>Web URL</th>
					</tr>
				</thead>
				<tbody>
					<f:for each="{repositories}" as="repository">
						<tr>
							<td>
								<f:link.action action="index" arguments="{repositoryUrl: repository.repositoryUrl}">
									{repository.name}
								</f:link.action>
							</td>
							<td>{repository.repositoryUrl}</td>
							<td>{repository.identifier}</td>
							<td><a href="{repository.webUrl}" target="_blank">{repository.webUrl}</a></td>
						</tr>
					</f:for>
				</tbody>
			</table>
		</f:then>
		<f:else>
			<p>No repositories available.</p>
		</f:else>
	</f:if>

</f:section>